* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* .navbar{
    height: 100px;
} */
@font-face {
  font-family: "Air";
  src: url("./fonts/Aeonik-Air.woff");
  src: url("./fonts/Aeonik-Air.woff2");
}
@font-face {
  font-family: "Black";
  src: url("./fonts/Aeonik-Black.woff");
  src: url("./fonts/Aeonik-Black.woff2");
}
@font-face {
  font-family: "Bold";
  src: url("./fonts/Aeonik-Bold.woff");
  src: url("./fonts/Aeonik-Bold.woff2");
  src: url("./fonts/Aeonik-Regular.woff");
}
@font-face {
  font-family: "Regular";
  src: url("./fonts/Aeonik-Regular.woff");
}
.header-img{

  display: flex;
  gap: 15px;
  justify-content: center;
}

.nav-link {
  color: black;
  font-family: "Regular";
}
.nav-link:hover{
    color: #23a036;
}
.nav-link:focus::after{
    color: #23a036;
    content: url(./Images/dot.png);
    display: block;
    text-align: center;
    transition: ease-in-out 2s;
}
.nav-link:focus::after{
    color: #23a036;
   
}

.navbar-collapse {
  flex-grow: 0;
  gap: 10px;
}
.link-btn {
  gap: 20px;
  text-align: center;
}
.img-fluid{
  height: auto;
}

.navbar-toggler-icon {
  background-image: url("./Images/list.png");
  outline: none !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.btn2 {
  background-color: #fff;
  margin-left: 20px;
  border: 1px solid #19283f;
  padding: 10px 20px;
}
.btn2 img {
  padding: 0 0 3px 5px;
  width: 20px;
  height: 20px;
}
.btn1 {
  background-color: #ff9e2d;
  border: none;
  padding: 13px 40px;
}
button {
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Regular";
}
.wrap-2 {
  padding: 28px 0;
  background-image: url("./Images/Bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: -50px;
}
.hero-content {
  text-align: center;
}
.hero-content h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  color: #23a036;
  font-family: "Bold";
}
.hero-content h4 {
  font-size: 28px;
  font-weight: 400;
  margin: 30px 0;
  font-family: "Regular";
}
/* About section.. start//// */
.btn3 {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Regular";
  background-color: #23a036;
  color: white;
  border: none;
  align-self: flex-start;
}
.btn3 i {
  margin-left: 5px;
}
.About-section h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #505c6d;
  font-style: normal;
  font-family: "Regular";
}
.About-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.About-section span {
  color: #23a036;
}
.About-section h2 {
  font-weight: 700;
  font-size: 40px;
  font-family: "Bold";
}
.style h4 {
  display: inline;
  font-weight: 400;
  font-size: 18px;
  color: #ff9e2d;
  margin-left: 10px;
}
.style img {
  vertical-align: text-bottom;
}
/* About section..end//// */
/* featured section..start//// */
.wrap-3 {
  background: #19283f;
  height: 695px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 90px;
}
.featured-section h2 {
  font-weight: 700;
  font-size: 40px;
  font-family: "Bold";
}
.featured-section h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  font-family: "Regular";
}
.featured-section span {
  color: #ff9e2d;
}
.section1,
.section2 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.asset h4 {
  margin: 20px 0;
  font-family: "air";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 2px;
}
.funds h4 {
  margin: 20px 0;
  font-family: "air";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 2px;
}
.sales h4 {
  margin: 12px 0;
  font-family: "air";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 2px;
}
.daily h4 {
  margin: 20px 0;
  font-family: "air";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 2px;
}
.section1 h5,
.section2 h5 {
  font-family: "Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1px;
}
/* featured section..end//// */
/* tabsection..start//// */
.styl {
  text-align: center;
}
.wrap-4 {
  padding: 50px 0;
}
.wrap-4 h2 {
  text-align: center;
  font-family: "Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0;
}
.wrap-4 h2 span {
  color: #23a036;
}
.tab-content h3 {
  color: #ff9e2d;
  font-family: "Bold";
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 20px;
}
.tab-content h5 {
  font-family: "Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
}
.playstore {
  margin-right: 20px;
}
.getlink {
  text-decoration: none;
  color: #19283f;
  margin-left: 20px;
  font-family: "Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.btn4 {
  color: #868e9a;
  font-family: "Regular";
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #868e9a;
  border-radius: 15px;
  padding: 10px 30px;
  margin-bottom: 20px;
}
.tab-content {
  background-color: #f6ede2;
  border: 1px solid #ff9e2d;
  border-radius: 30px;
}
.tabsection1 {
  padding: 50px;
  margin-top: 100px;
}
.tabimg {
  float: right;
  margin-top: -31px;
}
.react-tabs__tab {
  /* padding: 10px 20px !important; */
  border: none !important;
}
/* .react-tabs__tab--selected{
    border: none !important;
} */
.react-tabs__tab:focus {
  border-bottom: 7px solid #ff9e2d !important;
  margin-bottom: -10px;
}
.react-tabs__tab-list {
  padding: 10px 0 !important;
}
/* end.//// */
/* farmpet section start. . /// */
.wrap-5 span {
  color: #23a036;
}
.wrap-5 {
  background-color: #f9fbfa;
  padding: 20px;
}
.wrap-5 h2 {
  font-family: "Bold";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrap-5 h3 {
  font-family: "Regular";
  font-size: 25px;
  font-weight: 500;
  color: #19283f;
  /* font-style: normal; */
  letter-spacing: 1px;
  margin: 10px 0;
}
.frame {
  height: 50px;
  width: 50px;
}
.wrap-5 h5 {
  font-family: "Regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  color: #505c6d;
  margin-bottom: 10px;
}
.wrap-5 a {
  text-decoration: none;
}

.wrap-5 h6 {
  font-family: "Regular";
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: #4285f4;
  margin-bottom: 10px;
}
.border {
  border: 1px solid #cccccc;
  filter: drop-shadow(0px 4px 57px rgba(25, 40, 63, 0.05));
  border-radius: 15px;
  margin: 20px 0;
  padding: 10px 30px;
}
.border4 h5 {
  margin-bottom: 38px;
}
/* farmpet section end ..../// */
/* download section start../ */
.wrap-7 {
  margin: 50px 0;
}
.react-tabs__tab-list{
    display: flex;
    justify-content: space-evenly;
}
.mobileimg {
  background: #f6ede2;
  border-radius: 50px;
}
.img {
  padding: 0 80px;
  margin-top: -20px;
}
.dcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrap-7 h2 {
  font-family: "Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  margin: 10px 0 30px 0;
}
.wrap-7 span {
  color: #23a036;
}
.wrap-7 h3 {
  font-family: "Regular";
  font-size: 18px;
  font-weight: 400;
  color: #505c6d;
}
.wrap-7 button {
  border: 1px solid #19283f;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 20px;
  font-family: "Regular";
  font-size: 14px;
  font-weight: 400;
}
.wrap-7 i {
  margin-right: 5px;
}
/* download section end../ */
/* newsletter section start../ */
.wrap-8 {
  height: 470px;
  position: relative;
  background-image: url("./Images/farm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.wrap-8 h2 {
  font-family: "Bold";
  font-size: 40px;
  font-weight: 700;
}
.wrap-8 h4 {
  font-family: "Regular";
  font-size: 18px;
  font-weight: 400;
  color: #505c6d;
  margin: 20px 0;
}

.letter {
  padding: 150px 40px;
}
input {
  padding: 15px 50px 15px 50px;
  width: 400px;
  border-radius: 10px;
  border: none;
  font-family: "Regular";
  font-size: 14px;
  font-weight: 400;
}
input:focus {
  outline-style: none;
}
.inputimg {
  position: absolute;
  top: 272px;
  left: 170px;
}
.wrap-8 button {
  position: absolute;
  background: #23a036;
  border-radius: 10px;
  padding: 10px 30px;
  font-family: "Regular";
  font-size: 14px;
  font-weight: 400;
  color: white;
  border: none;
  top: 264px;
  left: 430px;
}
/* news letter section end ... */
/* footer section start ... */
.wrap-9 {
  background: #19283f;
  height: auto;
  padding: 50px 0;
}
.wrap-9 ul {
  color: white;
  text-decoration: none;
  list-style: none;
  line-height: 30px;
  font-family: "Regualr";
  font-size: 12px;
  font-weight: 400;
}
li h4 {
  font-family: "Bold";
  font-size: 18px;
  font-weight: 700;
  color: #bec1c7;
  margin-bottom: 10px;
}
.wrap-9 h5 {
  font-family: "Regular";
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.terms {
  display: flex;
  gap: 30px;
}
.wrap-9 span {
  margin: 0 10px;
}
.padding {
  padding: 50px 0 0 0;
}
.select {
  padding: 10px 150px 10px 5px;
  border-radius: 10px;
  background: rgba(80, 92, 109, 0.2);
  color: white;
  border: 1px solid #dfe1e3;
  border-radius: 10px;
}
/* Testimonial section start...//// */
.wrap-6 {
  background: #19283f;
  height: auto;
  width: 100%;
}

.wrap-6 h3 {
  margin: 20px 0;
  font-family: "Regular";
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.wrap-6 h5 {
  font-family: "Regular";
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.slick-slide img {
  display: inline;
}
.slick-next {
  display: none !important;
}
.slick-arrow .slick-next::before {
  display: none !important;
}
.slider img{
    width: 100%;
    height: auto;
    margin-left: -20px;
}
.slider-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 100px;
}
/* features section start....//// */
.wraper-1{
  padding: 30px 0;
}
.features1{
  background-color: #19283F;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.features2{
  padding: 150px 120px 100px 0 !important;
}
.features1 img{
 
 margin-top: -20px;
}
.wraper-1 h1{
font-family: 'Bold';
font-size: 60px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 50px;
}
.features-content h2{
  font-family: 'Bold';
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: #23a036;
}
.features-content h5{
font-family: 'Regular';
font-size: 15px;
font-weight: 400;
line-height: 27px;
}
.features-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 100px 0 100px;
}


/* medaiquerry....//// */
@media (max-width:991px) {
  .features2{
    padding: 0 !important;
  }
  .features-content{

    padding: 0;
    padding-left: 50px;
  }
  .header-img{
    margin-bottom: 20px;
  }
    .wrap-8 button {
        position: inherit;
        margin-top: 10px;
    }
    .inputimg{
        display: none;
    }
}
@media (max-width:1200px)
{
    .wrap-3{
    height: auto;
}
}
@media (max-width:487px)
{
  .features1{
    padding: 0 30px;
  }
  .wraper-1 h1{
    line-height: 55px;
  }
    .navbar-brand img{
        height: 90px;
    }
    input{
    width: auto;
}

.hero-content h1 {
    font-size: 25px;
    line-height: 25px;
}  
.hero-content h4 {
     font-size: 20px; 
    margin: 10px 0;
    
}
.wrap-5 h2 {
    font-size: 31px;
}
}
@media (min-width:991px)
{
  .features2{
    padding: 0;
  }
.wrap-2{
  height: 750px;
}
}
@media (max-width:767px)
{
  .features-content{
    padding: 30px 0 0 0 ;
  }
  .hero-content h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    
  }
    .react-tabs__tab{
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0;
    }
    .tabimg {
        margin-top: 0;
        height: auto;
    }
    .wrap-8{
        height: auto;
    }
    
    
    .link-btn{
        text-align: center;
    }
    
    .featured-section h2 {
        font-size: 28px;
    }
    .featured-section {
        padding-top: 20px;
    }
    .styl{
        margin-top: 20px;
    }
    .wrap-4 {
        padding: 0;
    }
    .tabsection1 {
         padding: 20px 10px;
     margin-top: 20px;
    }
    .slider-container {
        padding: 10px 15px;
    }
    .dcontent{
        margin-top: 20px;
    }
    .wrap-7 h2 {
        font-size: 25px;
        line-height: 30px;
        
    }
    .wrap-9 {
        padding: 20px 0;
    }
    .padding {
        padding: 0;
    }
    .btn3{
        margin: 0;
    }
    .slider img{
    margin:0 0 0 -12px;
    
}
.link-btn {
    gap:0px;
}
.navbar{
    padding: 0;
    margin: 0;
}
.About-section{
    margin-bottom: 20px;
    gap: 0px;
}
.btn1{
    margin-bottom: 10px;
}
.wraper-1 h1{
font-size: 50px;
}
}
